:root {
  --color-dark-violet-7: hsl(256, 26%, 20%);
  --color-dark-violet-9: hsl(270, 9%, 17%);
  --color-grayish-violet: hsl(273, 4%, 51%);
  --color-grayish-blue: hsl(216, 30%, 68%);
  --color-white-1: hsl(0, 0%, 100%);
  --color-white-2: hsl(0, 0%, 98%);
}
